<robot name='robot'>
    <link name='robot/chassis'>
        <visual>
            <geometry>
                <mesh filename="https://raw.githubusercontent.com/WilliamZhang20/Robot_Navigation_Wato/limo_sim/src/gazebo/meshes/limo_base_decimated.dae"/>
            </geometry>
            <material name="blue">
                <color rgba="0.0 0.0 1.0 1"/>
            </material>
        </visual>
    </link>
    
    <link name='robot/left_wheel'>
        <visual name='visual'>
            <geometry>
                <cylinder radius="0.4" length="0.2"/>
            </geometry>
            <material>
                <ambient>1.0 0.0 0.0 1</ambient>
                <diffuse>1.0 0.0 0.0 1</diffuse>
                <specular>1.0 0.0 0.0 1</specular>
            </material>
        </visual>
    </link>

    <link name='robot/right_wheel'>
        <visual name='visual'>
            <geometry>
                <cylinder radius="0.4" length="0.2" />
            </geometry>
            <material>
                <ambient>1.0 0.0 0.0 1</ambient>
                <diffuse>1.0 0.0 0.0 1</diffuse>
                <specular>1.0 0.0 0.0 1</specular>
            </material>
        </visual>
    </link>

    <link name='robot/caster'>
        <visual name='visual'>
            <geometry>
                <sphere radius="0.2" />
            </geometry>
            <material>
                <ambient>0.0 1 0.0 1</ambient>
                <diffuse>0.0 1 0.0 1</diffuse>
                <specular>0.0 1 0.0 1</specular>
            </material>
        </visual>
    </link>
</robot>