<?xml version="1.0"?>
<robot name='robot'>
  <link name="robot/base_link">
    <visual>
      <origin rpy="0 0 1.57" xyz="0 0 -0.15"/>
      <geometry>
        <mesh>
          <uri>package://gazebo/meshes/limo_base_decimated.dae</uri>
        </mesh>
      </geometry>
    </visual>
  </link>

  <link name="robot/front_left_wheel">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh>
          <uri>package://gazebo/meshes/limo_wheel.dae</uri>
        </mesh>
      </geometry>
    </visual>
  </link>

  <link name="robot/front_right_wheel">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh>
          <uri>package://gazebo/meshes/limo_wheel.dae</uri>
        </mesh>
      </geometry>
    </visual>
  </link>

  <link name="robot/rear_left_wheel">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh>
          <uri>package://gazebo/meshes/limo_wheel.dae</uri>
        </mesh>
      </geometry>
    </visual>
  </link>

  <link name="robot/rear_right_wheel">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh>
          <uri>package://gazebo/meshes/limo_wheel.dae</uri>
        </mesh>
      </geometry>
    </visual>
  </link>
</robot>